@font-face {
  font-family: 'AppleSystem';
  src: url('./assets/fonts/SF-Pro.ttf')
}

* {
  box-sizing: border-box;
  font-family: 'AppleSystem', sans-serif;
}

:root {
    --primary: #8f8f8f;
    --secondary: #2c2c2c;
    --terciary: #3a3a3a;

    --text: #ffffff;

    --success: rgb(24, 172, 122);
    --warning: rgb(197, 231, 46);
    --wrong: #f75454;

    --bg-primary: #0a0f1c;
    --bg-secondary: #333;
  }

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--bg-primary);
  
  background-image: radial-gradient(
      circle at 50% -30%,
      rgba(0, 153, 255, 0.2),
      transparent 50%
    ),
    radial-gradient(
      circle at 70% 70%, 
      rgba(255, 0, 128, 0.1),
      transparent 50%
    );
  background-repeat: no-repeat;
  background-size: cover;
}
