:root {
  padding: 0;
  margin: 0;

  color-scheme: light dark;

  --primary: #ffffff;
  --secondary: #ffffff;
  --terciary: #ffffff;

  --text: #040316;

  --success: rgb(24, 172, 122);
  --warning: rgb(197, 231, 46);
  --wrong: #f75454;

  --bg-primary: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--bg-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #8f8f8f;
    --secondary: #2c2c2c;
    --terciary: #3a3a3a;

    --text: #ffffff;

    --success: rgb(24, 172, 122);
    --warning: rgb(197, 231, 46);
    --wrong: #f75454;

    --bg-primary: #242424;
    --bg-secondary: #333;
  }
}
